@model IEnumerable<MobileShop.Entities.Manufacturer>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Add New Manufacturer</a>
</p>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoURL)
            </td>
            <td>
                <a class="btn btn-primary" style="width:60px;" asp-action="Edit" asp-route-id="@item.ManufactuterID">Edit</a> |
                <a class="btn btn-info" style="width:80px;" asp-action="Details" asp-route-id="@item.ManufactuterID">Details</a> |
                <a class="btn btn-danger mt-1" style="width:145px;" asp-action="Delete" asp-route-id="@item.ManufactuterID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
