@model IEnumerable<MobileShop.Entities.Manufacturer>

@{
    ViewData["Title"] = "Index";
}

<p class="text-center">
    <a class="btn btn-success w-25" asp-action="Create">Add New Manufacturer</a>
</p>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogoURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogoURL)
            </td>
            <td>
                <a class="btn btn-primary" style="width:60px;" asp-action="Edit" asp-route-id="@item.ManufactuterID">Edit</a>
                <a class="btn btn-info" style="width:80px;" asp-action="Details" asp-route-id="@item.ManufactuterID">Details</a>
                <a class="btn btn-danger" style="width:80px;" asp-action="Delete" asp-route-id="@item.ManufactuterID">Delete</a>
            </td>
        </tr>
 }
    </tbody>
</table>

<hr />

<div class="row">
    @foreach (var manufacturer in Model)
     {
        <div class="col-sm-12 col-md-4">
            <div>
                <img src="~/img/@manufacturer.LogoURL" alt="Manufaturer logo" class="img-thumbnail img-fluid" style="width:350px;height:250px;" />
            </div>
        </div>
     }
</div>



