@model IEnumerable<MobileShop.Entities.Phone>

@{
    ViewData["Title"] = "Index";
}

<div class="my-5 text-center">
    <a class="btn btn-outline-success w-50" asp-action="Create">Add New Phone</a>
</div>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Display)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Battery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Display)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Battery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.ManufactuterID)
            </td>
            <td>
                <a class="btn btn-secondary mb-1" style="width:5rem;" asp-action="Edit" asp-route-id="@item.PhoneID">Edit</a> 
                <a class="btn btn-info mb-1" style="width:5rem;" asp-action="Details" asp-route-id="@item.PhoneID">Details</a> 
                <a class="btn btn-danger" style="width:5rem;" asp-action="Delete" asp-route-id="@item.PhoneID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
